.Global{
  background-image: url('../assets/topography.svg');
  background-repeat: repeat;
  width: 100vw;
  position: absolute;
  inset: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.Inputs {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 5px 5px 15px black;
}